{% extends 'base.html' %}

{% block content %}

<a href="{% url 'image-list' %}">Назад к списку</a>
<h1>{{ image_name }}</h1>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div>
		<label for="width">Ширина</label><br>
		<input name="width" type="text"><br>
		{% for error in form.width.errors %}
			<div>{{ error }}</div>
		{% endfor %}
	</div><br>
	<div>
		<label for="height">Высота</label><br>
		<input name="height" type="text"><br>
		{% for error in form.height.errors %}
			<div>{{ error }}</div>
		{% endfor %}
	</div><br>
	<div>
		<button type="submit">Отправить</button>
		{% for error in form.non_field_errors %}
			<div>{{ error }}</div>
		{% endfor %}
	</div><br>
</form>
<div>
	<img src="{{ image_url }}">
</div>

{% endblock %}
